page-cart {
  .cart-item {
    display: flex;
    justify-content: space-between;
  }

  .item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info-title {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90px;
  }
}
